<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>Correo Electrónico</label>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una cuenta</a>
            <a href="/reestablecer-password">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>